[project]
name = "enka-py"
requires-python = ">=3.10"

[tool.poetry]
authors = ["seriaati <seria.ati@gmail.com>"]
description = "An async API wrapper for enka.network written in Python."
license = "GPL-3.0-only"
name = "enka-py"
packages = [{include = "enka"}]
readme = "README.md"
repository = "https://github.com/seriaati/enka-py"
version = "2.1.3"

[tool.poetry.dependencies]
aiofiles = "^23.2.1"
aiohttp-client-cache = {extras = ["sqlite"], version = "^0.11.0"}
orjson = "^3.9.10"
pydantic = "^2.5.3"
python = "^3.10"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.6.0"
pytest = "^8.2.0"
pytest-asyncio = "^0.23.3"
ruff = "^0.4.4"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
