[project]
name = "enka-py"
requires-python = ">=3.10"

[tool.poetry]
authors = ["seriaati <seria.ati@gmail.com>"]
description = "An async API wrapper for enka.network written in Python."
documentation = "https://github.com/seriaati/enka-py/wiki"
license = "GPL-3.0-only"
name = "enka-api"
packages = [{include = "enka"}]
readme = "README.md"
repository = "https://github.com/seriaati/enka-py"
version = "2.2.6"

[tool.poetry.dependencies]
aiofiles = "^24.0.0"
aiohttp-client-cache = {extras = ["sqlite"], version = "^0.11.0"}
orjson = "^3.9.10"
pydantic = "^2.5.3"
python = "^3.10"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.6.0"
ruff = "^0.6.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.2.0"
pytest-asyncio = "^0.24.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
