name: Bump Version

on:
  workflow_dispatch:

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Update version number
        uses: seriaati/update-ver-num@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Create release
        uses: seriaati/create-release@main
        with:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
          tool: "uv"
